<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpCompression>
            <staticTypes>
                <remove mimeType="image/svg+xml" />
                <remove mimeType="application/xaml+xml" />
                <remove mimeType="application/atom+xml" />
                <remove mimeType="application/javascript" />
                <remove mimeType="message/*" />
                <remove mimeType="text/*" />
                <add mimeType="text/html+css" enabled="true" />
                <add mimeType="message/*" enabled="false" />
                <add mimeType="application/javascript" enabled="false" />
                <add mimeType="application/atom+xml" enabled="false" />
                <add mimeType="application/xaml+xml" enabled="false" />
                <add mimeType="image/svg+xml" enabled="false" />
            </staticTypes>
        </httpCompression>
    </system.webServer>
</configuration>
