body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

header {
    padding: 1%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    transition: 1s;
}

#content {
    padding-top: 4%;
    padding-left: 1%;
}

header:hover {
    background-color: rgba(0,0,0,1);
    transition: 1s;
}

#menu {
    padding: 1%;
    transition: 1s;
    color: white;
}

#menu:hover {
    background-color: #990033;
    transition: 1s;
}

#logo {
    height: 20px;
    float: left;
}

a {
    text-decoration: none;
    color: black;
}

td {
    padding: 10px;
}

table {
    width: 50%;
}

#container {
  position: relative;
  width: 50%;
}

img:not(#logo) {
  width: 300px;
  height: auto;
}

#overlay {
    position: absolute;
    bottom: 100%;
    background-color: #990033;
    overflow: hidden;
    width: 300px;
    height: 0;
    transition: .5s;
}

#container:hover #overlay {
    bottom: 0;
    height: 100%;
}

#text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#textOverlay {
    color: black;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}