body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

header {
    padding: 1%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    transition: 1s;
}

#content {
    padding-top: 4%;
    padding-left: 1%;
}

header:hover {
    background-color: rgba(0,0,0,1);
    transition: 1s;
}

#menu {
    padding: 1%;
    transition: 1s;
}

#menu:hover {
    background-color: #990033;
    transition: 1s;
}

img:not(#logo) {
    height: 200px;
    float: left;
    padding-right: 10px;
}

#logo {
    height: 2%;
    float: left;
}

a:not(#menu-element) {
    text-decoration: none;
    color: black;
}

td {
    padding: 10px;
}

table {
    width: 50%;
}